#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>

&spi3 {
    status = "okay";
    cs-gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;

    st7789: st7789v@0 {
        compatible = "sitronix,st7789v";
        reg = <0>;
        spi-max-frequency = <20000000>;
        cmd-data-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
        reset-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;

        width = <240>;
        height = <284>;
        x-offset = <0>;
        y-offset = <18>;

        vcom = <0x20>;
        gctrl = <0x14>;
        vrhs = <0x0B>;
        vdvs = <0x20>;
        mdac = <0x00>;
        gamma = <0x01>;
        colmod = <0x05>;
        lcm = <0x2C>;

        porch-param = [0c 0c 00 33 33];
        cmd2en-param = [00 00 00 00];
        pwctrl1-param = [a4 a1];
        pvgam-param = [d0 04 0d 11 13 2b 3f 55 50 09 12 16 1c 22];
        nvgam-param = [d0 04 0c 11 13 2c 3f 55 50 09 12 16 1c 22];
        ram-param = [00 00];
        rgb-param = [00 00 00];
    };
};

/ {
    chosen {
        zmk,display = &st7789;
    };

    /* Определяем ШИМ-светодиод для управления подсветкой */
    pwmleds {
        compatible = "pwm-leds";
        pwm_led: pwm_led {
            pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
    };
};

/* Включаем аппаратный PWM0 (он есть в чипе, но по умолчанию отключён) */
&pwm0 {
    status = "okay";
};