#include <zephyr/dt-bindings/gpio/gpio.h>

&spi3 {
    status = "okay";
    cs-gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;

    st7789: st7789v@0 {
        compatible = "sitronix,st7789v";
        reg = <0>;
        spi-max-frequency = <20000000>;
        cmd-data-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
        reset-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;

        width = <240>;
        height = <284>;
        x-offset = <0>;
        y-offset = <18>;

        // Обязательные параметры инициализации (все)
        vcom = <0x20>;
        gctrl = <0x14>;
        vrhs = <0x0B>;
        vdv = <0x20>;
        mdac = <0x00>;
        colmod = <0x05>;
        lcm = <0x2C>;
        gamma = <0x01>;
        pctla = <0x00>;
        pctlb = <0x00>;
        pctlc = <0x00>;
        pctld = <0x00>;
        vcomd = <0x00>;
        vcmpoff = <0x00>;
        vcompon = <0x00>;
        cmd2en-param = [00];          // добавленное свойство
        porch-param = [0c 0c 00 33 33];
        pwctrl1-param = [a4 a1];
        // rgb-order = <0>;
        // invert-display;
    };
};

/ {
    chosen {
        zmk,display = &st7789;
    };
};