// Переопределяем параметры дисплея ST7789
&st7789 {
    width = <240>;      // новая ширина (было 240, оставляем или меняем)
    height = <284>;     // меняем высоту, например, на 320 пикселей
    x-offset = <0>;     // смещение по X (было 0)
    y-offset = <10>;    // новое вертикальное смещение (было 20)
};
