/* 1. Исправляем конфликт с фантомным узлом из щита Corne */
&spi3 {
    status = "disabled";
};

/* 2. Настраиваем ваш дисплей на spi0 */
&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 22)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 17)>;
        };
    };
    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 22)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 17)>;
            low-power-enable;
        };
    };
};

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 6 GPIO_ACTIVE_LOW>; // CS на P1.06

    /* Метка ДОЛЖНА быть st7789, так как её ищет /chosen */
    st7789: st7789@0 {
        compatible = "sitronix,st7789v";
        reg = <0>;
        spi-max-frequency = <8000000>;
        cmd-data-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>; 
        reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;    
        width = <240>;
        height = <240>;
        x-offset = <0>;
        y-offset = <0>;
        vcom = <0x19>;
        gctrl = <0x35>;
        mdac = <0x00>; 
        gamma = <0x01>;
        colmod = <0x05>;
        lcm = <0x2c>;
    };
};

/ {
    chosen {
        /* Эта ссылка должна точно совпадать с меткой st7789: выше */
        zephyr,display = &st7789;
    };
};